<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <main>
        <div class="view-msg">
            
        </div>
        <div class="barra-msg">
            <input type="text" name="" id="" required>
            <button type="submit">
                <img id="icon-send" src="{{ url_for('static', filename='icon/send.png') }}" alt="icone">
            </button>
        </div>
        
    </main>


    <script src="{{ url_for('static', filename='script.js' ) }}"></script>
</body>
</html>